.admin-product-card{
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(6, 6, 61);
    gap: 10px;
    border-radius: 1rem;
    padding: 10px;
}
.admin-product-card h2{
    width: 60%;
    color: white;
    text-align: center;
}
.admin-product-card img{
   border-radius: 1rem;
    width: 98%;
   height: 28vh;
   /* object-fit:; */
}
.admin-product-card span{
    color: rgb(80, 255, 80)
}
.admin-product-card p{
    color: white
}