.product-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-between;
  background-color: #e5e7eb;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-card > img {
  height: 30vh;
  object-fit: cover;
}

.product-info {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.product-info > h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
}

.product-footer > p {
  font-size: 0.875rem;
  color: #4b5563;
}

.product-footer {
  padding: 0.5rem;

  gap: 1rem;
  width: 100%;
  display: flex;

  align-items: center;
}

.product-info > span {
  font-size: 1.125rem;
  font-weight: bold;
  color: #047857;
}

.product-footer button:last-child {
  background-color: #2563eb;
}
.product-footer > button {
  background-color: #10a92a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  width: 50%;
}

.product-footer > button:hover {
  background-color: #148126;
}

.product-footer button:last-child:hover {
  background-color: #1d4ed8;
}
